
        <div class="container-fluid no-padd">
            <!--BANNER-->
            <div class="row">
                <div class="col-md-12 no-padding">
                    <div class="a-banner a-mark-banner h-overlay s-back-switch about">
                        <img src="img/home/IMG-132.jpg" alt="Banner" class="s-img-switch">
                        <section class="banner-heading t-center style-1">
                            <h1 class="heading-title font-6 c-style">OUR SERVICES</h1>
                            <p class="heading-text font-7 style-1 type-1">Maecenas auctor magna massa, a congue dui lacinia ut.
                                Phasellus dapibus venenatis libero, a pellentesque bunc tempor
                            </p>
                        </section>
                    </div>
                </div>
            </div>
            <!--/BANNER-->
            <!--SERVICES-->
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 services-tab no-padd">
                    <div class="tab-wrap-color bg-c-0">
                        <div class="tab-wrap">
                            <img src="img/home/service-icon_1.png" alt="icon" class="icon">
                            <div class="tab">
                                <h4 class="title font-6">Professionals Staff</h4>
                                <h5 class="subtitle font-7">Proin sit amet euismod</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 services-tab no-padd">
                    <div class="tab-wrap-color bg-c-2 f-c-3">
                        <div class="tab-wrap">
                            <img src="img/home/service-icon_2.png" alt="icon" class="icon">
                            <div class="tab">
                                <h4 class="title font-6">Creative Ideas</h4>
                                <h5 class="subtitle font-7">Quisque ut urna posuere</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 services-tab no-padd">
                    <div class="tab-wrap-color bg-c-7 f-c-3 ">
                        <div class="tab-wrap">
                            <img src="img/home/service-icon_3.png" alt="icon" class="icon">
                            <div class="tab">
                                <h4 class="title font-6">Animation & Video</h4>
                                <h5 class="subtitle font-7">Duis semper lectus ut urna</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 services-tab no-padd">
                    <div class="tab-wrap-color bg-c-5 f-c-3">
                        <div class="tab-wrap">
                            <img src="img/home/service-icon_4.png" alt="icon" class="icon">
                            <div class="tab">
                                <h4 class="title font-6">Social Media</h4>
                                <h5 class="subtitle font-7">Phasellus egestas dignissim</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/SERVICES-->
            <!-- INFO BLOCK -->
            <div class="row">
                <div class="about-info-block type-1">
                    <div class="bg-wrap overlay s-back-switch no-padd t-cell">
                        <img src="img/home/IMG-133.jpg" alt="Make your Business" class="s-img-switch">
                        <div class="info-wrap clearfix t-right type-5">
                            <h5 class="title type-1 f-c-3 font-6">we believe in good
                                ideas, flexibility and precision
                            </h5>
                            <p class="text font-7 type-1 fr">Phasellus dapibus venenatis libero, a pellent esque nunc
                                tempor a dictumst mollis tortor at finibus a viverra turpis
                            </p>
                        </div>
                    </div>
                    <div class="t-cell">
                        <div class="info-wrap type-3 h-type t-right">
                            <div class="services type-2">
                                <div class="service-block f-style type-2 t-left font-6">
                                    <div class="image">
                                        <img src="img/home/IMG-43.jpg" alt="info" class="vertical-align">
                                    </div>
                                    <div class="desc">
                                        <h4 class="title font-6">Clean & sleek design</h4>
                                        <p class="text font-7">Phasellus egestas dignis</p>
                                        <div class="cat font-6">Maecenas gravida purus tempus aliquam imperdiet.
                                            Fusce bibendum massa ac posuere congue. Fusce in justo et odio malesuada
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="services type-2">
                                <div class="service-block f-style type-2 t-left font-6">
                                    <div class="image marg-xs-t20">
                                        <img src="img/home/IMG-42.jpg" alt="info" class="vertical-align">
                                    </div>
                                    <div class="desc">
                                        <h4 class="title font-6">Modern & successful solutions</h4>
                                        <p class="text font-7">Morbi euismod enim libero</p>
                                        <div class="cat font-6">Maecenas gravida purus tempus aliquam imperdiet.
                                            Fusce bibendum massa ac posuere congue. Fusce in justo et odio malesuada
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="services type-2">
                                <div class="service-block f-style type-2 t-left font-6">
                                    <div class="image marg-xs-t20">
                                        <img src="img/home/IMG-41.jpg" alt="info" class="vertical-align">
                                    </div>
                                    <div class="desc">
                                        <h4 class="title font-6">Professional staff</h4>
                                        <p class="text font-7">Maecenas egestas fermen</p>
                                        <div class="cat font-6">Maecenas gravida purus tempus aliquam imperdiet.
                                            Fusce bibendum massa ac posuere congue. Fusce in justo et odio malesuada
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /INFO BLOCK -->
            <!--INFO BLOCK 2-->
            <div class="row">
                <div class="about-info-block type-1">
                    <div class="t-cell">
                        <div class="info-wrap t-center type-3 t-type">
                            <h5 class="sub-title font-7">Individual Solutions</h5>
                            <h3 class="title font-6">we offer special individual ideas</h3>
                            <p class="text font-7">Vestibulum rhoncus dui ut pellentesque congue.
                                Mauris tristique erat et nulla tincidunt, in viverra urna pretium.
                                Phasellus blandit ultrices magna, non imperdiet nisl finibus sed ictum
                                diam ut libero tortor. Mauris vitae quam sed lacus ultrices fermentum.
                                Pellentesque tempus in purus sit amet interdum. Quisque ut libero tortor.
                                Donec ultrices dolor eu sagittis molestie. Quisque ut urna posuere, gravida
                                nisl eu, dictum diam. In hac habitasse platea dictumst consectetur pellentesque metus
                            </p>
                            <a href="portfolio.html" class="a-btn type-1 hover-1 bg-1 font-6">our portfolio</a>
                        </div>
                    </div>
                    <div class="bg-wrap s-back-switch t-cell video-tmb-bg no-padd">
                        <div class="video-tmb-bg">
                            <img src="img/home/IMG-134.jpg" alt="Make your Business" class="s-img-switch">
                            <button class="a-btn video-play-btn hover-4" data-video="https://www.youtube.com/embed/wJF5NXygL4k?rel=0&amp;autoplay=1&amp;controls=0&amp;loop=1&amp;showinfo=0">
                            <i class="fa fa-play"></i>
                            </button>
                        </div>
                        <div class="video-wrap">
                            <button class="close-btn-2">
                            <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                            <iframe class="bg-video-iframe" src="about:blank"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <!--/INFO BLOCK 2-->
        </div>