<!-- HEADER -->
<header class="a-header style-1 g-type scroll">
 <div class="inner-wrap style-1">
  <div class="logo style-1">
   <a href="/" class="table-cell"><span>Ritz</span>Consulting</a>
  </div>
   <div class="nav-menu-icon"><a href="#" class="table-cell"><i></i></a></div>
    <div class="navigation">
     <nav class="style-1">
      <ul>
       <li class="active">
        <a href="/">home</a>
        <!-- <ul class="sub-menu style-1 type-1 t-type"> -->
          <!--  <li class="sub-active"><a href="index.html">Home 1</a></li> -->
<!--<li><a href="index-2.html">Home 2</a></li> -->
<!--<li><a href="index-3.html">Home 3</a></li> -->
      <!--  </ul> -->
       </li>
        <li><a href="/about">about us</a></li>
        <li>
         <a href="#">services <i class="fa fa-angle-down"></i></a>
          <ul class="sub-menu style-1 type-1 t-type">
           <li><a href="services.html">Services</a></li>
           <li><a href="seo-services.html">Seo Services</a></li>
           <li><a href="compaign-strategy-services.html">Compaign Strategy</a></li>
           <li><a href="design.html">Website Design</a></li>
           <li><a href="case-studies.html">Case Studies</a></li>
          </ul>
        </li>
           <li><a href="portfolio.html">portfolio</a></li>
<!--<li>
<a href="#">shop <i class="fa fa-angle-down"></i></a>
<ul class="sub-menu style-1 type-1 t-type">
<li><a href="shop.html">Shop List</a></li>
<li><a href="product.html">Shop Detail</a></li>
<li><a href="cart.html">Cart</a></li>
<li><a href="checkout.html">Checkout</a></li>
</ul>
</li> -->
<li><a href="contacts.html">contact us</a></li>
<!--<li>
<a href="#">pages <i class="fa fa-angle-down"></i></a>
<ul class="sub-menu style-1 type-1 t-type">
<li>
<a href="#">Blog <i class="fa fa-angle-down"></i></a>
<ul class="sub-menu style-1 type-1 type-sub">
<li><a href="blog.html">Blog</a></li>
<li><a href="blog-details.html">Blog Details</a></li>
</ul>
</li>
<li><a href="analysis.html">Free Analysis</a></li>
<li><a href="404.html">Page 404</a></li>
</ul>
</li> -->
</ul>
</nav>
  <div class="header-folow style-1">
    <a href="#" class="serch-button"><span class="fa fa-search"></span></a>
  </div>
    <div class="mob-social t-right">.</div>
      <div class="header-social">
        <ul>
          <li><a href="https://www.facebook.com/foxthemes.page" target="_blank"><span class="fa fa-facebook"></span></a></li>
          <li><a href="https://twitter.com/foxthemes_offic" target="_blank"><span class="fa fa-twitter"></span></a></li>
          <li><a href="https://plus.google.com/+OfficialFoxThemes/posts" target="_blank"><span class="fa fa-google-plus"></span></a></li>
          </ul>
            <span class="mob-social-btn style-3">&times;</span>
        </div>
      </div>
    </div>
</header>
<!--/HEADER-->