<!-- HEADER -->
<header class="a-header style-1 g-type scroll">
 <div class="inner-wrap style-1">
  <div class="logo style-1">
   <a href="/" class="table-cell"><span>Ritz Group </span>Consulting</a>
  </div>
   <div class="nav-menu-icon"><a href="#" class="table-cell"><i></i></a></div>
    <div class="navigation">
     <nav class="style-1">
      <ul>
       <li>
        <a href="/">home</a>
       </li>
        <li>
          <a href="/about">about us</a>
        </li>
        <li>
         <a href="/services">services</a>
        </li>
           <li>
            <a href="/portfolio">portfolio</a>
           </li>
          <li>
            <a href="/contacts">contact us</a>
          </li>

        </ul>
    </nav>
      <div class="header-folow style-1">
        <a href="#" class="serch-button"><span class="fa fa-search"></span></a>
      </div>
        <div class="mob-social t-right">.</div>
          <div class="header-social">
            <ul>
              <li><a href="https://www.facebook.com/" target="_blank"><span class="fa fa-facebook"></span></a></li>
              <li><a href="https://twitter.com/" target="_blank"><span class="fa fa-twitter"></span></a></li>
              <li><a href="https://www.instagram.com" target="_blank"><span class="fa fa-instagram"></span></a></li>
               <li><a href="https://www.youtube.com" target="_blank"><span class="fa fa-youtube"></span></a></li>
              </ul>
                <span class="mob-social-btn style-3">&times;</span>
            </div>
          </div>
        </div>
</header>
<!--/HEADER-->