 <head>
 	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
	 <title>Ritz Group Consulting</title>
	
	<meta name="format-detection" content="telephone=no" />
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="shortcut icon" href="../images/logo.jpg" />
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="css/magnific-popup.css" rel="stylesheet" type="text/css"/>
	<link href="css/nouislider.min.css" rel="stylesheet" type="text/css"/>
	<link href="css/lightbox.css" rel="stylesheet" type="text/css" />
	<link href="css/Pe-icon-7-stroke.css" rel="stylesheet" type="text/css" />
	<link href="css/styles.css" rel="stylesheet" type="text/css"/>
 	<!-- SCRIPTS
  ================================================== -->
	<script src="/js/modernizr.js"></script><!-- Modernizr -->
    

 
  </head>
