<div class="container-fluid no-padd">
<!--BANNER-->
<div class="row">
<div class="col-md-12 no-padding">
<div class="a-banner a-mark-banner h-overlay s-back-switch" style="background-image: url(../images/dev.jpg);">
<!--	<img src="../images/screen.jpg" alt="Banner" class="s-img-switch"> -->
<section class="banner-heading t-center style-1">
<h5 class="heading-subtitle style-1">STEP BY STEP TO YOUR DREAM</h5>
<h1 class="heading-title c-style"><span>READY</span> TO GROW YOUR BUSINESS?</h1>
<p class="heading-text style-1">Philippians 4:13</p>
<a href="services.html" class="a-btn style-1 type-1 bg-1 hover-1">learn more</a> 
</section>
</div>
</div>
</div>
<!--/BANNER-->
<!--INFO BLOCK-->
<div class="row">
<div class="col-md-12">
<div class="a-head-1 t-center style-1">
<h5 class="head-subtitle">What We Do</h5>
<h3 class="head-title font-6">MAKE YOUR BUSINESS POWERFUL</h3>
<p class="head-text">We bring your business to live with our powerful digital marketing tools
</p>
</div>
</div>
</div>
<!--/INFO BLOCK-->
<!--SERVICES-->
<div class="row">
<div class="col-xs-12 col-sm-4 no-padd">
<section class="a-service h-style type-1 t-center s-bg-1">
<div class="service-overlay s-back-switch" style="background-image: url(../images/client.jpeg);">
<!--<img src="img/home/1.jpg" alt="Service" class="s-img-switch"> -->
</div>
<div class="service-info">
<img src="img/home/service_1.png" alt="" class="service-icon">
<h5 class="service-title font-6">24/7 Customer Service</h5>
<h6 class="service-subtitle font-6">Service above self </h6>
<p class="service-text">We work around the clock to provide our customers with the best customer service they need. We value the services we provide to our customers.  </p>
<a href="compaign-strategy-services.html" class="a-btn style-1 hover-1 bg-2 color-2">learn more</a>
</div>
</section>
</div>
<div class="col-xs-12 col-sm-4 no-padd">
<section class="a-service h-style type-1 t-center s-bg-2">
<div class="service-overlay s-back-switch" style="background-image: url(../images/media.jpeg);">
<!--<img src="img/home/IMG-56.jpg" alt="Service" class="s-img-switch"> -->
</div>
<div class="service-info">
<img src="img/home/service_2.png" alt="" class="service-icon">
<h5 class="service-title">Social Media</h5>
<h6 class="service-subtitle">Social media platform is a great digital marketing tool to grow your business. You relax and we promote!</h6>
<p class="service-text"> We work hard to make sure that you get the best service out of what you paid for. We value all our clients. </p>
<a href="case-studies.html" class="a-btn style-1 hover-1 bg-2 color-2">learn more</a>
</div>
</section>
</div>
<div class="col-xs-12 col-sm-4  no-padd">
<section class="a-service h-style type-1 t-center s-bg-3">
<div class="service-overlay s-back-switch">
<img src="img/home/3.jpg" alt="Service" class="s-img-switch">
</div>
<div class="service-info">
<img src="img/home/service_3.png" alt="Our Service" class="service-icon">
<h5 class="service-title">Seo Expetrt</h5>
<h6 class="service-subtitle">PHASELLUS EGESTAS DIGNIS</h6>
<p class="service-text">Proin sit amet euismod lacus, in auctor nisl. Duis semper lectus ut urna posuere tincidunt aliquet egestas libero tempor massa quis libero hendrerit ultrices</p>
<a href="seo-services.html" class="a-btn style-1 hover-1 bg-2 color-2">learn more</a>
</div>
</section>
</div>
</div>
<!--/SERVICES-->
<!--INFO BLOCK-->
<div class="row bg-c-1">
<div class="col-md-12">
<div class="a-head-1 t-center type-4">
<h5 class="head-subtitle font-6">Our Services</h5>
<h3 class="head-title font-6">WHAT WE CAN PROPOSE YOU</h3>
<p class="head-text font-6">Maecenas auctor magna massa, a congue dui lacinia ut.
Phasellus dapibus venenatis libero, a pellentesque nunc tempor
</p>
</div>
</div>
</div>
<!--/INFO BLOCK-->
<!--SERVICES 2-->
<div class="row bg-c-1">
<div class="col-md-12">
<div class="container">
<div class="row marg-xs-b40 marg-lg-b140">
<div class="col-xs-12 col-sm-4 marg-xs-b40">
<section class="a-service type-2">
<div class="service-info f-style">
<img src="img/home/service-p-1.jpg" alt="Our Service" class="service-icon img-responsive">
<h5 class="service-title font-6">Seo Optimization</h5>
<h6 class="service-subtitle font-6">PELLENTESQUE VELIT MAURIS</h6>
<ul class="service-list style-1 font-6">
<li>Inner optimization</li>
<li>Google Adwords</li>
<li>Content</li>
<li>Affiliate advertising</li>
<li>Social media</li>
</ul>
</div>
</section>
</div>
<div class="col-xs-12 col-sm-4 marg-xs-b40">
<section class="a-service type-2">
<div class="service-info">
<img src="img/home/service-p-2.jpg" alt="Our Service" class="service-icon img-responsive">
<h5 class="service-title font-6">Marketing</h5>
<h6 class="service-subtitle font-6">PELLENTESQUE VELIT MAURIS</h6>
<ul class="service-list font-6">
<li>Internal marketing</li>
<li>International marketing</li>
<li>Strategic marketing</li>
<li>Operational marketing</li>
<li>Makromarketing</li>
</ul>
</div>
</section>
</div>
<div class="col-xs-12 col-sm-4">
<section class="a-service type-2">
<div class="service-info">
<img src="img/home/service-p-3.jpg" alt="Our Service" class="service-icon img-responsive">
<h5 class="service-title font-6">Company Strategy</h5>
<h6 class="service-subtitle font-6">PELLENTESQUE VELIT MAURIS</h6>
<ul class="service-list font-6">
<li>Internal marketing</li>
<li>International marketing</li>
<li>Strategic marketing</li>
<li>Operational marketing</li>
<li>Makromarketing</li>
</ul>
</div>
</section>
</div>
</div>
</div>
</div>
</div>
<!--/SERVICES 2-->
<!--INFO SLIDER-->
<div class="row marg-lg-t35">
<div class="col-md-12">
<div class="a-slider">
<div class="swiper-container pag-on"  data-loop="1" data-speed="1000" data-slides-per-view="responsive" data-xs-slides="1" data-sm-slides="2" data-md-slides="3" data-lg-slides="3" data-add-slides="3">
<div class="swiper-wrapper">
<div class="swiper-slide">
<div class="mark-info-slide">
<section class="a-service type-3 t-center s-back-switch style-1">
<img src="img/home/info-bg-1.jpg" alt="Information" class="s-img-switch">
<div class="service-info">
<h5 class="service-title font-6">MOST BETTER SOLUTIONS</h5>
<p class="service-text font-6">Praesent imperdiet quam non purus varius iaculis.
Nulla ut turpis ac nulla pellentesque gravida sit amet
</p>
<a href="design.html" class="a-btn style-2 bg-1 hover-1">learn more</a>
</div>
</section>
</div>
</div>
<div class="swiper-slide">
<div class="mark-info-slide">
<section class="a-service type-3 t-center s-back-switch style-1">
<img src="img/home/info-bg-2.jpg" alt="Information" class="s-img-switch">
<div class="service-info">
<h5 class="service-title font-6">SOLVE EVERY PROBLEM</h5>
<p class="service-text font-6">Praesent imperdiet quam non purus varius iaculis.
Nulla ut turpis ac nulla pellentesque gravida sit amet
</p>
<a href="services.html" class="a-btn style-2 bg-1 hover-1">learn more</a>
</div>
</section>
</div>
</div>
<div class="swiper-slide">
<div class="mark-info-slide">
<section class="a-service type-3 t-center s-back-switch style-1">
<img src="img/home/info-bg-3.jpg" alt="Information" class="s-img-switch">
<div class="service-info">
<h5 class="service-title font-6">OPTIMIZE AND INTEGRATE</h5>
<p class="service-text font-6">Praesent imperdiet quam non purus varius iaculis.
Nulla ut turpis ac nulla pellentesque gravida sit amet
</p>
<a href="seo-services.html" class="a-btn style-2 bg-1 hover-1">learn more</a>
</div>
</section>
</div>
</div>
<div class="swiper-slide">
<div class="mark-info-slide">
<section class="a-service type-3 t-center s-back-switch style-1">
<img src="img/home/info-bg-1.jpg" alt="Information" class="s-img-switch">
<div class="service-info">
<h5 class="service-title font-6">SOLVE EVERY PROBLEM</h5>
<p class="service-text font-6">Praesent imperdiet quam non purus varius iaculis.
Nulla ut turpis ac nulla pellentesque gravida sit amet
</p>
<a href="design.html" class="a-btn style-2 bg-1 hover-1">learn more</a>
</div>
</section>
</div>
</div>
<div class="swiper-slide">
<div class="mark-info-slide">
<section class="a-service type-3 t-center s-back-switch style-1">
<img src="img/home/info-bg-2.jpg" alt="Information" class="s-img-switch">
<div class="service-info">
<h5 class="service-title font-6">SOLVE EVERY PROBLEM</h5>
<p class="service-text font-6">Praesent imperdiet quam non purus varius iaculis.
Nulla ut turpis ac nulla pellentesque gravida sit amet
</p>
<a href="design.html" class="a-btn style-2 bg-1 hover-1">learn more</a>
</div>
</section>
</div>
</div>
<div class="swiper-slide">
<div class="mark-info-slide">
<section class="a-service type-3 t-center s-back-switch style-1">
<img src="img/home/info-bg-3.jpg" alt="Information" class="s-img-switch">
<div class="service-info">
<h5 class="service-title font-6">MOST BETTER SOLUTIONS</h5>
<p class="service-text font-6">Praesent imperdiet quam non purus varius iaculis.
Nulla ut turpis ac nulla pellentesque gravida sit amet
</p>
<a href="design.html" class="a-btn style-2 bg-1 hover-1">learn more</a>
</div>
</section>
</div>
</div>
</div>
<div class="pagination point-style-4"></div>
</div>
</div>
</div>
</div>
<!--/INFO SLIDER-->
</div>
