   <div class="container-fluid no-padd">
            <!--BANNER-->
            <div class="row">
                <div class="col-md-12 no-padding">
                    <div class="a-banner a-mark-banner h-overlay s-back-switch about" style="background-image: url(../images/seo.jpeg);">
                    <!--<div class="a-banner a-mark-banner h-overlay s-back-switch whoops" style="background-image: url(../images/seo.jpeg);"> -->
                        <img src="../images/seo.jpeg" alt="" class="s-img-switch">
                        <section class="banner-heading t-center style-1">
                            <h1 class="heading-title c-style font-6"> OUR PORTFOLIOS</h1>
                           <!-- <h2 class="subtitle style-1 font-6 marg-lg-b65 marg-xs-b0">Work in progress.</h2> -->
                          <!--  <a href="/" class="a-btn style-1 type-1 bg-1 hover-1 font-6">go to the homepage</a> -->
                        </section>
                    </div>
                </div>
            </div>
            <!--/BANNER-->
        </div>
         <!--/BANNER-->
        <div class="container-fluid no-padd">
            <!--PORTFOLIO-->
            <div class="row marg-lg-t85">
                <div class="col-md-12">
                    <ul id="filters" class="filter-wrap centered">
                        <li>
                            <button class="but style-1 style-2 activbut font-6" data-filter="*">All</button>
                        </li>
                        <li>
                            <button class="but style-1 style-2 font-6" data-filter=".design">web design</button>
                        </li>
                        <li>
                            <button class="but style-1 style-2 font-6" data-filter=".logo">logo</button>
                        </li>
                        <li>
                            <button class="but style-1 style-2 font-6" data-filter=".branding">branding</button>
                        </li>
                        <li>
                            <button class="but style-1 style-2 font-6" data-filter=".development">development</button>
                        </li>
                    </ul>
                </div>
            </div>
     
        <!-- FOOTER -->                                                                                                    
<footer class="a-footer det-type style-1">
<!-- main footer -->
<div class="footer-top no-padd-lms style-1">
<!-- footer top -->
<div class="container">
<div class="row">
<div class="col-xs-12">
<div class="copyright f-type">
<p class="t-center">© 2018 All Rights Reserved. Ritz Group Consulting </p>
</div>
</div>
</div>
</div>
</div>
<div class="footer-bottom style-1">
<!-- footer bottom -->
<div class="container-fluid no-padd-lms">
<div class="row">
<div class="col-xs-6 col-sm-3 t-center style-2 no-padd-lms font-6">
<a href="https://www.facebook.com/Ritz-Group-Consulting-356507591498199/" target="_blank">Facebook</a>
</div>
<div class="col-xs-6 col-sm-3 t-center style-2 no-padd-lms font-6">
<a href="https://www.instagram.com/ritzgroupconsulting/" target="_blank">Instagram</a>
</div>
<div class="col-xs-6 col-sm-3 t-center style-2 no-padd-lms font-6">
<a href="https://www.twitter.com" target="_blank">Twitter</a>
</div>
<div class="col-xs-6 col-sm-3 t-center style-2 no-padd-lms font-6">
<a href="https://www.youtube.com" target="_blank">YouTube</a>
</div>
</div>
</div>
</div>
<!-- .footer bottom -->
</footer>
<!--SEARCH POPUP -->
<div class="search-popup">
  <div class="vertical-align">
    <div class="container">
    <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
    <form action="#" class="search-form">
    <h3 class="title">Search</h3>
    <div class="input-field">
    <input type="text" placeholder="Enter keyword" class="input" required>
    <div class="submit">
    <i class="fa fa-search"></i>
    <input type="submit" value="">
    </div>
    </div>
    <a href="#" class="close"><span>+</span></a>
    </form>
    </div>
    </div>
      </div>
  </div>
</div>