<!DOCTYPE html>
<html>
	<%= render 'shared/head' %>
  <body>
   
	 <%= render 'shared/header' %>
     <!-- PRELOADER -->
        <div class="preload-wrap">
          <div class="a-preload">
            <div class="cssload-preloader cssload-loading">
              <span class="cssload-slice"></span>
              <span class="cssload-slice"></span>
              <span class="cssload-slice"></span>
              <span class="cssload-slice"></span>
              <span class="cssload-slice"></span>
              <span class="cssload-slice"></span>
            </div>
          </div>
        </div>
      <%= yield %>
    
	 <!-- /SEARCH POPUP-->
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/idangerous.swiper.min.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/lightbox.js"></script>
    <script src="js/circle-progress.js"></script>
    <script src="js/equalHeightsPlugin.js"></script>
    <script src="js/isotope-docs.min.js"></script>
    <script src="js/nouislider.min.js"></script>
    <script src="js/jquery.countTo.js"></script>
    <script src="js/wNumb.js"></script>
    <script src="js/jquery.raty-fa.js"></script>
    <script src="js/jquery.viewportchecker.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6M45oe9V8IfJfUB6x4k0FKhmEf58nJAs"></script>
    <script src="js/all.js"></script>
  </body>
</html>
